.recipe-container {
    padding: 1rem;
    margin-top: 2rem;
    background-color: #d1fffc;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);

    h1 {
        margin-left: 2rem;
    }


}

.new-button{
    text-decoration: none;
    width: 15%;
    height: 100%;
    font-size: larger;
  }