<div fxLayout="row" fxLayoutAlign="space-around" fxFlex="100%">
    <mat-card fxFlex="60%" fxLayout="column" class="recipe-container">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <h1>Recepjeid</h1>
            <a color="primary" class="new-button" mat-raised-button routerLink="/recipes/create">Új recept</a>
        </div>
        <div fxLayout="row wrap">
            <app-recipe-card *ngFor="let recipe of recipes" [recipe]="recipe" (click)="goDetailRecipe(recipe.id)"></app-recipe-card>
        </div>
    </mat-card>
    <mat-card fxFlex="30%" fxLayout="column" class="recipe-container">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <h1>Cikkeid</h1>
            <a color="primary" class="new-button" mat-raised-button routerLink="/article/create">Új cikk</a>
        </div>
        <div fxLayout="row wrap">
            <app-article-card *ngFor="let article of articles" [article]="article" (click)="goDetailArticle(article.id)"></app-article-card>
        </div>
    </mat-card>

</div>  
