<div class="header-image">
    <img src="https://cdn.vox-cdn.com/thumbor/KJjKfCBX0DEu7QY7395Sc8fdYBY=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/23957266/Le_Fantome.jpg">
    <div class="recipe-info-container"  fxLayout="row" fxLayoutAlign="space-between center"> 
        <div class="recipe-name-box">
            <h1>Recept megnevezése</h1>
        </div>
        <div class="recipe-name-box" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center">
            <div>
                <h2>További infók</h2>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-icon>print</mat-icon>
                <mat-icon>favorite</mat-icon>
            </div>
        </div>
    </div>
</div>
<div class="recipe-detail-container" fxLayout="row" fxLayoutGap="20px">
    <div class="ingredients-container" fxFlex="30%" fxLayout="row" fxLayoutAlign="center">
        <div>
            <h2>Sablon hozzávaló</h2>
            <ul>Hozzávaló elem</ul>
            <ul>Hozzávaló elem</ul>
            <ul>Hozzávaló elem</ul>
            <ul>Hozzávaló elem</ul>
            <ul>Hozzávaló elem</ul>
            <ul>Hozzávaló elem</ul>
            <ul>Hozzávaló elem</ul>
            <ul>Hozzávaló elem</ul>
            <ul>Hozzávaló elem</ul>
        </div>
    </div>

    <div class="descriptions-container" fxFlex="60%" fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxLayoutAlign="center center">
            <h2>Sablon lépés</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident earum explicabo eveniet. Perferendis iste qui eaque asperiores possimus dolore quasi recusandae? Quaerat nam maiores ex qui commodi molestiae natus eveniet neque beatae eum consectetur architecto placeat deleniti dignissimos incidunt assumenda unde perspiciatis accusantium nemo libero excepturi, similique illo. Voluptate ipsum, eaque mollitia impedit provident, esse reprehenderit harum fugiat ducimus animi incidunt exercitationem, autem maiores numquam! Qui voluptatibus nesciunt blanditiis, enim eveniet quidem delectus molestias minus quia, modi impedit. Inventore accusantium harum molestiae ullam laudantium, impedit illo blanditiis suscipit magnam aperiam omnis adipisci maiores vel tempore at. Harum, neque! Pariatur, enim?</p>
        </div>
    </div>
</div>
