<div fxLayout="row" fxLayoutAlign="center" fxFlex="100%">
  <mat-card fxFlex="60%" fxLayout="column" fxLayoutAlign="center" class="main-container" fxLayoutGap="10px">
    <h1>Új recept felvétele</h1>
    <mat-form-field>
      <mat-label>Recept neve</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>
    <mat-card fxLayout="column" class="desc-table">
      <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="10px" fxFlex="95%">
        <mat-card-title fxLayoutAlign="center" fxFlex="60%">Lépés szövege</mat-card-title>
        <mat-card-title fxLayoutAlign="center" fxFlex="20%">Illusztráció</mat-card-title>
        <mat-card-title fxLayoutAlign="center" fxFlex="20%">Szerkesztés</mat-card-title>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="10px" fxFlex="95%">
        <p fxLayoutAlign="center" fxFlex="60%">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum sed nostrum distinctio, quaerat esse nam tenetur laudantium eligendi voluptatibus iusto.</p>
        <p fxLayoutAlign="center" fxFlex="20%"> tesztkep.jpg</p>
        <mat-icon fxLayoutAlign="end" fxFlex="10%">
          edit
        </mat-icon>
        <mat-icon fxLayoutAlign="start" fxFlex="10%">
          delete
        </mat-icon>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutGap="10px" fxFlex="95%">
        <p fxLayoutAlign="center" fxFlex="60%">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, ratione facere esse commodi ab quo laborum autem culpa nam reprehenderit facilis aliquid nemo totam voluptates accusamus labore a non harum?</p>
        <p fxLayoutAlign="center" fxFlex="20%"> tesztkep.jpg</p>
        <mat-icon fxLayoutAlign="end" fxFlex="10%">
          edit
        </mat-icon>
        <mat-icon fxLayoutAlign="start" fxFlex="10%">
          delete
        </mat-icon>
      </div>
    </mat-card>
    <mat-card-title>Lépések felvétele</mat-card-title>
    <mat-card-subtitle>Lépés szövege:</mat-card-subtitle>
    <mat-form-field>
      <mat-label>Leírás</mat-label>
      <textarea
        matInput
        type="text"
        formControlName="description"
        cdkTextareaAutosize
        cdkAutosizeMinRows="4"
      ></textarea>
    </mat-form-field>
    <mat-card-subtitle>Tölts fel hozzá illusztrációt:</mat-card-subtitle>
    <input type="file" (change)="onChange($event)" />
    <button (click)="saveDescription()" mat-raised-button type="submit">
      Lépés felvétele
    </button>
  </mat-card>
</div>
