.description-box {
    height: auto;
    background-color: white;
    word-wrap: break-word;
}

.button-container {}

.main-container {
    padding: 20px;
}

.container {}

.container1 {
    width: 80%;
}

.input-container {
    width: 200px;
}

.save-button {
    width: 100%;
}

.desc-table {
    padding: 10px;
}

.desc {
    display: block;
    width: 60%; /*based on how much width this div should have*/
    word-wrap: break-word;
}

hr {
    width: 100%;
    border-color: #20a39e;
    height: 3px;
    background-color: #20a39e;
    border-radius: 3px;

}

.table-container {
    background-color: white;
    padding: 10px;
}

.ingredients-table {
    text-align: center;
    padding: 10px;
}

.button-height {
    height: 70%;
}

h1 {
    margin-bottom: 0 !important;
}

h3 {
    margin-top: 0 !important;
}

.card {
    padding: 1rem;
    background-color: #20a39f17;
}

mat-form-field {
    padding: 0;
}

.table-card {
    margin: 20px;
}